[Unit]
Description=Prometheus Downsampler

[Service]
User=nobody
Group=nogroup
Type=oneshot
EnvironmentFile=/etc/default/prometheus-downsampler
ExecStart=/usr/local/bin/prometheus-downsampler $ARGS
WorkingDirectory=/var/tmp/prometheus-downsampler
